name: "build-test"
on:
  workflow_dispatch:
    inputs:
      bodyContains:
        type: string
        required: true
        description: "Delete only comments containing strings."
      noReply:
        type: boolean
        required: true
        description: "Delete only comments with no replies."

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.3.0
      - uses: ./
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          bodyContains: ${{ github.event.inputs.bodyContains }}
          noReply: ${{ github.event.inputs.noReply }}
